Reglerne for Game of Life er:

- Hver celle i grid’et kan være levende eller død
- Når “spillet” starter, er det med et tilfældigt grid hvor nogle celler er levende.
- For hver generation besluttes det om hver eneste celle skal leve eller dø, ud fra antallet af naboer:
    - < 2 naboer - cellen dør af ensomhed
    - 2 naboer - cellen lever videre, hvis den altså var levende
    - 3 naboer - en ny celle bliver født, eller lever videre, hvis der var en
    - > 3 naboer - cellen død af overbefolkning
- Beslutningerne træder først i kraft for næste generation - og i samme øjeblik for samtlige celler. 
Der er altså ikke noget med at en nyfødt celle kan påvirke sine naboer før næste generation.

Krav
- Du skal lave din kode med adskilt model og view - begge dele skal være et “grid”, og din model skal være et 2D array (array af arrays).
- Du skal lave koden så fleksibel som muligt, så det i princippet vil være nemt at ændre grid-størrelse.
- Du skal adskille koden i View og Model-funktioner - du må selv om du vil bruge modules, eller have det hele i samme fil.
- Du skal have én funktion til at tælle naboer - og en anden funktion til at beslutte om en celle lever eller dør baseret på antallet af naboer.
- Du skal tælle og vise antallet af generationer der er blevet vist siden programmet startede.
- Der skal være en brugerflade hvor brugeren minimum kan:
    - tømme grid’et fuldstændig for levende celler
    - tilføje tilfældige levende celler rundt omkring på grid’et (må ikke slette dem der er)
- Generationer skal beregnes automatisk, for eksempel hvert halve sekund, så brugeren ikke behøver gøre noget som helst efter at have åbnet programmet.

