body {
    background-color: #666;
    color: #8b8;
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
}
#board {
    display: grid;
    grid-template-columns: repeat(var(--GRID_WIDTH), 1fr);
    grid-template-rows: repeat(var(--GRID_HEIGHT), 1fr);
    grid-gap: 0;
    row-gap: 0;
    width: 600px;
    height: 400px;
}
 .cell {
    display: grid;
    width: 1fr;
    aspect-ratio: 1 / 1;
    background-color: #888;
    border: 0.5px outset darkgrey;    
}
#counter{
    font-size: large;
    margin: 10px;
    padding: 10px;
    color: rgb(255, 238, 1)
}
#buttons{
    display: grid;
    grid-template-rows: auto;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
  }
  
 
  .primary-button {
    background-color: #4CAF50;
    color: white;
  }
  .btn:hover {
    transform: scale(1.1);
  }